@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

:root {
    --primary_dark: #161A3D;
    --primary_semidark: #282E5C;
    --primary_lightdark: #5b63a5;
    --primary_font:#FFFFFF;
    --primary_semi-light-font:#ababab;
    
    --primary_semi-light-bg:#a6beff;
    --primary_semi-light-bg-font:#15223e;

    --primary_success:#3BF2D3;
    --primary_font-success:#165f53;
    --primary_font-failure:#FFFFFF;
    --primary_failure:#FFFFFF;
    --shadow-dark : #2400248a;
  }

.main-container{
    width: 100vw;
    height: 100vh;
    background-color: var(--primary_dark);
}

.register-container{
    width: 100vw;
    height: 12vh;
    background-color: var(--primary_semidark);
    box-shadow: inset 13px 13px 58px -11px var(--shadow-dark);
}

.dashboard-container{
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dashboard-container-left{
    width: 30vw;
    height: 77vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; 
   
}



.dashboard-container-left-up{
    width: 30vw;
    height: 45vh;
    background-color: var(--primary_semidark); 
    border-radius: 1.5vw;  
    box-shadow: inset 13px 13px 58px -11px var(--shadow-dark);
}

.dashboard-container-left-down{
    width: 30vw;
    height: 30vh;
    background-color: var(--primary_semidark);  
    border-radius: 1.5vw; 
    box-shadow: inset 13px 13px 58px -11px var(--shadow-dark);
}

.dashboard-container-right{
    width: 67vw;
    height: 77vh;
    background-color: var(--primary_semidark);
    border-radius: 1.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: inset 13px 13px 58px -11px var(--shadow-dark);
}
.dashboard-container-right-menu{
    width: 67vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1vw;
    padding-right: 2vw;
    
}
.dashboard-container-right-table{
    width: 67vw;
    height: 60vh;
    /* background-color: var(--primary_font); */ 
    display: flex;
    justify-content: space-evenly;
    align-items:center;

    flex-direction: column;
}

.table-deploy-item{
    width: 64vw;
    height: 9vh;
    background-color: var(--primary_lightdark);
    box-shadow: inset 13px 13px 58px -11px var(--shadow-dark);
    border-radius: 1vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-weight: 500;
}

.dashboard-container-right-footer{
    width: 67vw;
    height: 8vh;
    /* background-color: var(--primary_font); */
    
}

.footer-container{
    width: 100vw;
    height: 8vh;
    background-color: var(--primary_semidark);
    box-shadow: inset 24px 13px 58px -11px var(--shadow-dark);
}

.env{
    border-radius: 1vw;
    width: 15vw;
    height: 6vh;
    background-color: var(--primary_lightdark);
    border: none;
    color: var(--primary_font);
    padding: 1vh;
    font-weight: 500;
    box-shadow: inset 24px 13px 58px -11px var(--shadow-dark);
}

.service-name{
    border-radius: 1vw;
    width: 15vw;
    height: 6vh;
    background-color: var(--primary_lightdark);
    border: none;
    color: var(--primary_font);
    padding: 2vh;
    font-weight: 500;
    box-shadow: inset 24px 13px 58px -11px var(--shadow-dark);
}

.table-deploy-item-status{
    background-color: var(--primary_success);
    color: var(--primary_font-success);
    padding: 0.5vw 2vh;
    border-radius: 1.5vh;
}

.table-deploy-item-deployment-id{
    background-color: #FFFFFF;
    color: var(--primary_semidark);
    padding: 0.5vw 2vh;
    border-radius: 1.5vh;
}

.table-deploy-item-service-name{
    background-color: var(--primary_semi-light-bg);
    color: var(--primary_semi-light-bg-font);
    padding: 0.5vw 2vh;
    border-radius: 1.5vh;
}

::placeholder {
    color: rgb(255, 255, 255);
    opacity: 1; /* Firefox */
  }
  

/* 282E5C
161A3D
FF5398
3BF2D3
FFA25C
445ACB */